[ req ]
prompt = no
utf8 = yes
default_bits = 4096
distinguished_name = req_distinguished_name

req_extensions = v3_req

[ req_distinguished_name ]
C=DE
O=Acme
OU=Tiberius
CN=$CERT_CN

[ v3_req ]
subjectAltName = @alt_names
extendedKeyUsage = serverAuth, clientAuth

[alt_names]
DNS.1 = localhost
