export TIBERIUS_TEST_CONNECTION_STRING="server=tcp:localhost,1433;user=SA;password=<YourStrong@Passw0rd>;TrustServerCertificate=true"
export DOCKER_BUILDKIT=1
if command -v nix-shell &> /dev/null
then
    use flake
fi
